* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: cyan;
  display: flex;
  justify-content: center;
}

.ball {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: brown;
  position: absolute;
  bottom: 31.25rem;
}

.container2 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1.625rem;
  padding-top: 1.3125rem;
  gap: 0.3125rem;
}

.planet {
  position: absolute;
  border: 1px solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.planet a {
  color: #FFF;
}

.reload {
  position: relative;
  border: 1px solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  top: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.stopwatch {
  position: absolute;
  top: 123px;
  border: 1px solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.acceleration {
  position: absolute;
  top: 10.9375rem;
  border: 1px solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.title {
  position: absolute;
  margin-top: 0.3125rem;
  font-size: 1.25rem;
}

@media (max-width: 46.875rem) {
  .planet {
    top: 3.125rem;
  }
  .reload {
    top: 5rem;
  }
  .stopwatch {
    top: 9.5rem;
  }
  .acceleration {
    top: 12.625rem;
  }
}
@media (max-width: 28.125rem) {
  .title {
    font-size: 0.9375rem;
  }
}
@media (max-width: 23.75rem) {
  .title {
    width: 17.5rem;
    top: 0.3125rem;
    font-size: 0.75rem;
  }
  .planet, .stopwatch, .acceleration {
    right: 0.4375rem;
  }
  .reload {
    right: -1.1875rem;
  }
}
.containerMars {
  width: 100%;
  height: 100vh;
  background: #FF5733;
  display: flex;
  justify-content: center;
}

.ballMars {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: #6C7A89;
  position: absolute;
  bottom: 500px;
}

.containerMars2 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1.625rem;
  padding-top: 1.3125rem;
  gap: 0.3125rem;
}

.planetMars {
  position: absolute;
  border: 0.0625rem solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.planetMars a {
  color: #FFF;
}

.reloadMars {
  position: relative;
  border: 0.0625rem solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  top: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.stopwatchMars {
  position: absolute;
  top: 7.6875rem;
  border: 0.0625rem solid black;
  width: 6.875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 46.875rem) {
  .planetMars {
    top: 3.125rem;
  }
  .reloadMars {
    top: 5rem;
  }
  .acceleration {
    top: 12.625rem;
  }
  .stopwatchMars {
    top: 9.5rem;
  }
}
@media (max-width: 23.75rem) {
  .planetMars {
    right: 0.4375rem;
  }
  .reloadMars {
    right: -1.1875rem;
  }
}

/*# sourceMappingURL=style.css.map */
