.containerMars{
    width: 100%;
    height: 100vh;
    background: #FF5733;
    display: flex;
    justify-content: center;
}

.ballMars{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background: #6C7A89;
    position: absolute;
    bottom: 500px;
}

.containerMars2{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 1.625rem;
    padding-top: 1.3125rem;
    gap: .3125rem;
}

.planetMars{
    position: absolute;
    border: .0625rem solid black;
    width: 6.875rem;
    height: 2.1875rem;
    padding: .625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    a{
        color: #FFF;
    }
}

.reloadMars{
    position: relative;
    border: .0625rem solid black;
    width: 6.875rem;
    height: 2.1875rem;
    padding: .625rem;
    top: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.stopwatchMars{
    position: absolute;
    top: 7.6875rem;
    border: .0625rem solid black;
    width: 6.875rem;
    height: 2.1875rem;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (max-width: 46.875rem){
    .planetMars{
        top: 3.125rem;
    }
    .reloadMars{
        top: 5rem;
    }
    .acceleration{
        top: 12.625rem;
    }
    .stopwatchMars{
        top: 9.5rem;
    }
}

@media(max-width: 23.75rem){
    .planetMars{
        right: .4375rem;
    }
    .reloadMars{
        right: -1.1875rem;
    }
}